body {
	font-size: 18px;
	font-family: 'Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif';
}

.baseInfoDivStyle {
	height: 25px;
	line-height: 25px;
	margin: 10px auto;
}

.logo {
	height: 64px;
    color: #fff;
    line-height: 64px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
}

.trigger {
	font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}
.slideContent {
	width: 5985px;
	height: 500px;
	transform: translate(-665px, 0);
}
.slideContent div{
	color: #000;
}
